#conciertos-confirmados{
   background: url(../img/tour.jpg);
    padding-right: 100px;
    padding-left: 100px;
   margin-bottom: 30px;
    padding-bottom: 30px;
}
        
#conciertos-confirmados .contenedor{
    
background: #0D1C25;
  padding: 30px;
    display: table;
    padding-bottom: 0px;
  width: 10px;
 height: 10px;
}


.fecha-concierto, img, .comprar {
  width: 10%;
  }

.lugar-concierto {
 font-size: 60px;
 margin-left: 200px;
  
}


.fecha-concierto  {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  margin-top: -10px;
}


.fecha-concierto span {
  display: block;
  color: #a9a9a9;
  font-size: 67px;
  margin-bottom: -15px;
}
#conciertos-confirmados .contenedor img{
    margin-top: 20px;
    margin-left: 100px;
    float: left
}


.pais {
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    margin-left: 800px;
    
}

.ciudad {
 text-transform: uppercase;
 color: #a9a9a9;
 font-weight: 700; 
 margin-top: 30px;
 margin-bottom: 10px;
 margin-left: 800px
}

.comprar  {
    color: #06100c;
    border-color: #00c47b;
    background-color: #00de8b;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    margin-left: 1000px;
    margin-bottom: 200px;
    float: right;
        
}


#conciertos-confirmados .contenedor:hover {

  background: #ffffff;
  color: black;
}
.comprar:hover {
    background: black;
    color: white;
}

.contenedor:hover .fecha-concierto, .contenedor:hover .pais  {
  color: #0D1C25;
}