
header {
    font-family: 'Arial';
    font-size: 0.9em;
	background-color: black;
	color: white;	
	border-bottom: solid 2px #08A364;
	position: relative;
	height: 95px;
}
header .logo img{
 	width: 300px;
    position: relative;
   
}
.logo{
	position: absolute;
	left: 10px;
	
}
.menu{
	position: absolute;
	right: 500px;
	top:20px;
	
}
.menu ul li{
	display: inline-block;
	padding: 5px 10px 10px 10px;
}
.menu ul li:hover{
	background-color: #08A364;
}

fieldset{
    border: 1px solid #08A364;
     width: 50%;
    margin: 0 auto;
    
}
.control{
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.legend{
    font-family: 'Ubuntu', sans-serif;
}

label{
    display: block
    
}
span{
    color: red;
}
input[type=text]:focus{
    outline: 0 none;
    border: solid 1px #08A364;
}
input[type=submit]{
    background-color: #00de8b;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    color: white;
    padding: 5px 15px 5px 15px; 
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 560px;
    box-shadow: 1px 1px 2px black;
}
input[type=submit]:hover{
    background-color: #08A364;
}